<li class="sidebar-item">
  <div class="custom-info-search-form">
    <span class="name-info">СПЕЦИАЛИСТЫ ({{countSelected()}}/{{doctors.length}})</span>
    <div class="pull-right">
      <div class="btn-group" uib-dropdown>
        <button
          class="btn btn-success btn-xs dropdown-toggle"
          uib-dropdown-toggle type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"
        >
          <i class="fa fa-filter"></i>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-left-custom" uib-dropdown-menu>
          <li><a href="#" ng-click="selectAll()"><i class="fa fa-check"></i> Выбрать все</a></li>
          <li><a href="#" ng-click="deselectAll()"><i class="fa fa-times"></i> Отменить все</a></li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="input-group custom-search-form" >
    <input type="text" class="form-control" placeholder="Введите текст для поиска"
           uib-typeahead="doctor as doctor.name for doctor in doctors | filter: {name: $viewValue}"
           ng-model="selectedDoctor"
    ></input>

    <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
        </span>
  </div>
  <div class="btn-group btn-block custom-doctor-tab">
    <label class="btn btn-default" ng-model="showBy" uib-btn-radio="'specialization'" uncheckable>
      По специальности
    </label>
    <label class="btn btn-default" ng-model="showBy" uib-btn-radio="'alphabet'" uncheckable>
      По алфавиту
    </label>
  </div>

  <div class="well" style="max-height: 300px;overflow: auto; padding: 0px">
    <ul class="list-group checked-list-box">
      <li class="list-group-item">
        <div ng-if="showBy === 'alphabet'" ng-repeat="doctor in doctors" class="checkboxes__item">
          <div class="checkbox__info">
            <input ng-model="doctor.visible" type="checkbox" id="doctor-{{doctor.$$hashKey}}" />
            <label for="doctor-{{doctor.$$hashKey}}">{{doctor.name}}</label>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div
          ng-if="showBy === 'specialization'" ng-repeat="(specialization, doctors) in doctorsBySpecialization"
          class="custom-list-info"
        >
          <div class="clearfix">
            <input type="checkbox" id="spec-{{specialization}}"
                   ng-checked="allSelected(specialization)"
                   ng-click="selectAllBySpec(specialization, !allSelected(specialization))"/>
            <label for="spec-{{specialization}}">{{specialization}}</label>
            <div ng-repeat="doctor in doctors" class="checkboxes__item">
              <div class="checkbox__info">
                <input ng-model="doctor.visible" type="checkbox" id="doctor-{{doctor.$$hashKey}}" />
                <label for="doctor-{{doctor.$$hashKey}}">{{doctor.name}}</label>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</li>
