<li class="sidebar-item">
  <div class="custom-info-search-form">
    <span class="name-info">ПАЦИЕНТЫ</span>
    <div class="pull-right">
      <div class="btn-group" uib-dropdown>
        <button
          class="btn btn-success btn-xs dropdown-toggle"
          uib-dropdown-toggle
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          ng-disabled="!patientSelected()"
        >
          <i class="fa fa-user"></i>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-left-custom" uib-dropdown-menu>
          <li>
            <a href="#" ng-click="logout()"><i class="fa fa-power-off"></i>Завершить работу с пациентом</a>
          </li>
        </ul>

      </div>
    </div>
    <div ng-if="patientSelected()"
         class="custom-list-info">
      <p class="text-primary">{{appState.selectedPatient.name}}</p>
      <p class="text-primary">{{::formatDateTime(appState.selectedPatient.birthDate)}} г.р.</p>
      <p class="text-primary">Полис ОМС: {{appState.selectedPatient.policyNumber}}</p>
    </div>
    <div class="clearfix"></div>
  </div>
  <div ng-if="selected-user">
  </div>
  <form ng-submit="searchPatient(user)">
    <div class="input-group custom-search-form">
      <input type="text"
             class="form-control"
             placeholder="Введите текст для поиска"
             uib-typeahead="patient as patient.name for patient in patients
               | patientFilter : $viewValue"
             ng-model="appState.selectedPatient"
             typeahead-min-length="3"
             typeahead-template-url="{{patientFilterItemTemplate}}"
      ></input>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">
           <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </form>
</li>
