<li class="sidebar-item">
  <div class="custom-info-search-form">
    <span class="name-info">ДАТА ЗАПИСИ</span>
    <div class="clearfix"></div>
  </div>
  <div class="input-group custom-search-form date" id="datetimepicker1">
    <input
      readonly
      ng-disabled="noneSelected()"
      type="text"
      class="form-control"
      uib-datepicker-popup="{{format}}"
      ng-model="appState.startDate"
      is-open="popup2"
      datepicker-options="dateOptions"
      ng-required="true"
      close-text="Close"
      alt-input-formats="altInputFormats"
      placeholder="ДД.ММ.ГГГГ"
      current-text="Сегодня"
      clear-text="Сброс"
      close-text="Закрыть"
    />
    <span class="input-group-btn">
      <button ng-disabled="noneSelected()" class="btn btn-default" ng-click="open2()">
        <i class="fa fa-calendar"></i>
      </button>
    </span>
  </div>
</li>
