<div class="main-container">
  <div class="left-panel">
    <sidebar></sidebar>
  </div>
  <div class="right-panel">
    <div class="toolbar">
      <h1>Расписание специалистов</h1>
        <div class="buttons">
          <div class="btn-group">
            <label class="btn btn-success" ng-model="days" uib-btn-radio="1" uib-uncheckable="false">
              1 день
            </label>
            <label class="btn btn-success" ng-model="days" uib-btn-radio="2" uib-uncheckable="false">
              2 дня
            </label>
            <label class="btn btn-success" ng-model="days" uib-btn-radio="7" uib-uncheckable="false">
              неделя
            </label>
          </div>
        </div>
    </div>

    <div class="messages" ng-if="noneSelected() || noFreeSlots()">
      <div ng-if="noneSelected()">
        Для просмотра расписания выберите Медучреждение и Доступные ресурсы
      </div>
      <div ng-if="!noneSelected() && noFreeSlots()">
        На выбранный период отсутствуют свободные временные интервалы для записи.
        Выберите другой период
      </div>
    </div>

    <div class="wrapper" id="wrapper">
      <div class="content">
        <schedule ng-repeat="d in dates" date="d" scroll-ref="scrollRef" scroll-pos="scrollPos"
                  doctor-filter="doctorFilter" strut-height="strutHeight"></schedule>
      </div>
    </div>
  </div>
</div>
