$column-width: 200px;
$min-step: 1.8rem;

$dark-gray: #3b3b3a;
$light-gray: #999a99;
$bluish: #93cbd9;
$whitish: #e9e9ec;
$bluish-gray: #d7e2e4;
$green: #a9c88f;
$orange: #d2613e;

$left-pane-width: 300px;
$toolbar-height: 50px;

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

html {
  font-family: sans-serif;
}

.main-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.left-panel {
  background-color: $whitish;
  width: $left-pane-width;
  height: 100%;
}

.right-panel {
  display: flex;
  flex-direction: column;
  width: calc(100% - #{$left-pane-width});
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;

  .toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 10px;

    h1 {
      margin: 0;
      padding: 0;
      height: fit-content;
      font-size: 20px;
      flex-grow: 100;
    }

    .buttons {
      height: fit-content;
    }
  }

  .messages {
    text-align: center;
    padding: 2rem;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;

    .content {
      position: relative;
      width: auto;
      white-space: nowrap;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

.custom-list-info {
  margin-top: 10px;
}

.custom-list-info p {
  margin-bottom: 0px;
  font-weight: bold;
}

.custom-list-info input {
  margin-top: 0;
  margin-left: 15px;
}

.custom-list-info label {
  margin-bottom: 0;
}

.custom-list-info .checkbox__info label {
  max-width: calc(100% - 32px);
}

table.doctor-schedule {
  width: 100%;
  border: none;
  border-right: 5px solid white;
}

.step-30 {
  height: $min-step * 3;
  min-height: $min-step * 3;
  max-height: $min-step * 3;
  overflow: hidden;
  &.workingHours, &.unavailable, &.paperwork, &.training {
    min-height: $min-step * 6;
    max-height: $min-step * 6;
  }
}

.step-10 {
  height: $min-step;
  min-height: $min-step;
  max-height: $min-step;
  overflow: hidden;
  &.workingHours, &.unavailable, &.paperwork, &.training {
    min-height: $min-step * 2;
    max-height: $min-step * 2;
  }
}

.activity {
  padding: 4px;
}

div.activity::before {
  display: block;
  content: attr(data-descr);
}

.activity.availableForAppointments {
  background-color: $whitish;
  &::before {
    content: attr(data-time)
  }
  &.clickable {
    &:hover {
      background-color: $green;
      cursor: pointer;
    }
  }
}

.activity.appointment {
  background-color: $orange;
  color: white;
  &::before {
    content: attr(data-time) " " attr(data-descr);
  }
}

.workingHours, .unavailable, .paperwork, .training {
  & + & {
    border: none !important;
    &::before {
      content: ""
    }
  }

  & + & {
    display: none;
  }
}

.workingHours {
  background-color: $light-gray;
}

.unavailable {
  background-color: $light-gray;
}

.paperwork {
  background-color: $light-gray;
}


.training {
  background-color: $light-gray;
}

.nonWorkingHours {
  display: none;
  background-color: $bluish-gray;
  border-top: none !important;
  &::before {
    content: "" !important
  }
}

.schedule {
  font-size: 12px;
  display: inline-block;
  width: $column-width;
  max-width: $column-width;
  margin-right: 5px;
  vertical-align: top;

  .activity {
    border-top: 1px dotted white;
  }
}

.uib-datepicker {
  .dateClass > button[disabled] > span {
    border-radius: 100px;
    border: none;
    background-color: transparent;
  }

  .dateClass > button > span {
    border-radius: 100px;
    border: 3px solid $green;
    background-color: $green;
  }
}

.schedule-header {
  position: absolute;
  padding: 0px;
  margin: 0px;
  text-align: center;
  white-space: normal;
  vertical-align: top;
  display: inline-block;

  .schedule-header-doctor {
    margin-right: 5px;
    border-radius: 7px 7px 0px 0px;
    // background-color: $light-gray;
    width: $column-width;
    max-width: $column-width;
    display: inline-block;
    vertical-align: top;
    div {
      padding: 5px;
      &.date {
        background-color: $dark-gray;
        border-radius: 7px 7px 0px 0px;
        color: white;
        font-weight: bold;
      }
      &.doctor-name {
        color: white;
        background-color: $light-gray;
      }
      &.doctor-facility {
        background-color: $bluish;
      }
      &.doctor-specialization {
        text-transform: lowercase;
        font-style: italic;
        color: white;
        border-top: 1px solid #b4b4b4;
        background-color: $light-gray;
      }
      &.human-readable-schedule {
        background-color: $green;
        .time-range + .time-range::before {
          display: inline-block;
          content: ", ";
          color: black;
        }
      }
    }

    .doctor-working {
      display: none;
      background-color: $green;
      cursor: pointer;
    }

    &.collapsed {
      .doctor-working {
        display: block;
      }
      .human-readable-schedule {
        visibility: hidden
      }
    }
  }
}

.strut {
  height: 10000px;
  background-color: $bluish-gray;
  & + .activity {
    border-top: none;
  }
}

body {
  background-color: #f8f8f8;
}

#wrapper {
  width: 100%;
}

#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: #fff;
}

@media(min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }
}

.navbar-top-links {
  margin-right: 0;
  li {
    display: inline-block;
    &:last-child {
      margin-right: 15px;
    }
    a {
      padding: 15px;
      min-height: 50px;
    }
  }
  .dropdown-menu li {
    display: block;
    &:last-child {
      margin-right: 0;
    }
    a {
      padding: 3px 20px;
      min-height: 0;
      div {
        white-space: normal;
      }
    }
  }

  .dropdown-messages, .dropdown-tasks, .dropdown-alerts {
    width: 310px;
    min-width: 0;
  }

  .dropdown-messages {
    margin-left: 5px;
  }
  .dropdown-tasks {
    margin-left: -59px;
  }
  .dropdown-alerts {
    margin-left: -123px;
  }
  .dropdown-user {
    right: 0;
    left: auto;
  }
}

.sidebar .sidebar-nav.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}

.sidebar-item {
  margin-top: 15px;
  white-space: nowrap;
}

.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
  a.active {
    background-color: #eee;
  }

  .arrow {
    float: right;
  }

  .nav-second-level li, .nav-third-level li {
    border-bottom: 0 !important;
  }

  .nav-second-level li a {
    padding-left: 37px;
  }

  .nav-third-level li a {
    padding-left: 52px;
  }
}

.sidebar .fa.arrow:before {
  content: "\f104";
}

.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}

@media(min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
  }

  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}

.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}

.btn-primary.btn-outline {
  color: #428bca;
}

.btn-success.btn-outline {
  color: #5cb85c;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}

.chat {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
  }
}

.chat li.left .chat-body {
  margin-left: 60px;
}

.chat li.right .chat-body {
  margin-right: 60px;
}

.chat li .chat-body p {
  margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}

.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}

.login-panel {
  margin-top: 25%;
}

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

.dataTables_wrapper {
  position: relative;
  clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: 0 0;
}

table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: fontawesome;
}

table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: fontawesome;
  color: rgba(50, 50, 50, .5);
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.show-grid [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee !important;
}

.show-grid {
  margin: 15px 0;
}

.huge {
  font-size: 40px;
}

.custom-info-search-form {
  margin-bottom: 10px;
}

.custom-info-search-form .name-info {
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.custom-search-form {
  margin-bottom: 20px;
}

.custom-doctor-tab {
  margin-bottom: 20px;
  display: table;
  > .btn {
    float: none;
    display: table-cell;
  }
}

.checkboxes {
  height: 335px;
  overflow: scroll;
  padding: 10px;
  margin: 30px 0;
}

.checked-list-box {
  .list-group-item {
    padding: 10px 0;
    border: none;
  }
}

.checkboxes__item {
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 0 15px;
}

.checkbox__info {
  line-height: 50px;
  display: inline-block;
}

.checkbox__info input {
  vertical-align: middle;
  display: inline;
  margin-top: 0;
}

.checkbox__info label {
  display: inline-block;
  max-width: calc(100% - 17px);
  margin-left: 5px;
  margin-bottom: 0;
  line-height: 18px;
  vertical-align: middle;
  white-space: normal;
}

.pull-left-custom {
  left: auto;
  right: 0;
}

.well {
  border: 1px solid #ddd;

  .list-group {
    margin-bottom: 0px;
  }
}
