$column-width: 200px;
$min-step: 30px;

$dark-gray: #3b3b3a;
$light-gray: #999a99;
$bluish: #93cbd9;
$whitish: #e9e9ec;
$bluish-gray: #d7e2e4;
$green: #a9c88f;
$orange: #d2613e;

$left-pane-width: 300px;
$toolbar-height: 50px;

* { box-sizing: border-box; }

html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

html { 
  font-family: sans-serif;
}

.main-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.left-panel {
  background-color: lightblue;
  width: $left-pane-width;
  height: 100%;
}

.toolbar {
  position: absolute;
  width: 100%;
  height: $toolbar-height;
  top: 0px;
  left: 0px;
}

.right-panel {
  width: calc(100% - #{$left-pane-width});
  height: calc(100% - #{$toolbar-height});
  position: absolute;
  top: 0px;
  right: 0px;
}

table.doctor-schedule {
  width: 100%;
  border: none;
  border-right: 5px solid white;
}

.step-30 {
  height: $min-step * 3;
  min-height: $min-step * 3;
  max-height: $min-step * 3;
  overflow: hidden;
}

.step-10 {
  height: $min-step;
  min-height: $min-step;
  max-height: $min-step;
  overflow: hidden;
}

.activity {
  padding: 5px;
}

div.activity::before {
  display: block; 
  content: attr(data-descr);
}

.activity.availableForAppointments {
  background-color: $whitish;
  &::before {content: attr(data-time)} 
}

.activity.appointment {
  background-color: $orange;
  color: white;
  &::before { content: attr(data-time) " " attr(data-descr); }
}

.workingHours { 
  background-color: $light-gray;
  & + .workingHours {
    border: none !important;
    &::before{content: ""}
  }  
}

.unavailable {
  background-color: $light-gray;
  & + .unavailable {
    border: none !important;
    &::before{content: ""}
  } 
}

.training {
  background-color: $light-gray;
  & + .training {
    border: none !important;
    &::before{content: ""}
  } 
}

.nonWorkingHours {
  background-color: $bluish-gray;
  border-top: none !important;
  &::before {content: "" !important}
}

.wrapper{
  width: 100%;
  height: 100%; 
  overflow-x: scroll;
  overflow-y: auto;
  margin-top: $toolbar-height;
}

.content{
  position: relative;
  width: auto;
  white-space:nowrap;
  margin-left: 20px;
  margin-right: 20px;
}

.schedule {
  font-size: 14px;
  display: inline-block;
  width: $column-width;
  max-width: $column-width;
  margin-right: 5px;

  .activity { border-top: 1px dotted white; }
}

schedule {display: inline-block}

.schedule-header {
  position: absolute;
  padding: 0px; margin: 0px;
  text-align: center;
  white-space: normal;
  vertical-align: top;
  display: inline-block;

  .schedule-header-doctor {
    margin-right: 5px;
    border-radius: 7px 7px 0px 0px;
    // background-color: $light-gray;
    width: $column-width;
    max-width: $column-width;
    display: inline-block;
    vertical-align: top;
    div {
      padding: 5px;
      &.date { background-color: $dark-gray; border-radius: 7px 7px 0px 0px; color: white; font-weight: bold;}
      &.doctor-name { color: white; background-color: $light-gray; }
      &.doctor-facility { background-color: $bluish; }
      &.doctor-specialization { text-transform: lowercase; font-style: italic; color: white; border-top: 1px solid #b4b4b4; background-color: $light-gray; }
      &.human-readable-schedule { background-color: $green; }
    }

    .doctor-working {
      display: none;
      background-color: $green;
    }

    &.collapsed {
      .doctor-working {display: block;}
      .human-readable-schedule {
        visibility: hidden
      }
    }
  }
}

.strut {
  height: 10000px;
  background-color: $bluish-gray;
  & + .activity { border-top: none; }
}